button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(66, 184, 221);
  padding: .5em 1em;
  text-decoration: none;
  border: transparent;
  cursor: pointer;
  outline: none;
}
